<h1>Listing events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Location</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.friendly_start_date %></td>
    <td><%= event.friendly_end_date %></td>
    <td><%= event.location %></td>
    <td><%= truncate event.notes, :length => 20 %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
